    <% layout('layouts/boilerplate') %> 
    <style>body{ background-color: #e1f3ff; }</style>
	<div class="row">
        <h1 class="text-center">EDIT Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= c._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="campground[title]" value="<%= c.title %>" id="title" required>
        </div>
        <div class="mb-3">
            <label class="form-label"for="location">Location</label>
        <input class="form-control" type="text" name="campground[location]" value="<%= c.location %>" id="location" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Images</label>
            <input class="form-control" type="file" id="image"name="image" multiple>
          </div>
        <div class="mb-3">
            <label class="form-label"for="price">price</label>
        <input class="form-control" type="number" name="campground[price]" value="<%= c.price %>" id="price" required>
        </div>
        <div class="mb-3">
            <label class="form-label"for="description">Description</label>
        <textarea class="form-control" name="campground[description]" id="Description" required><%= c.description %></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-info text-light">UPDATE</button>
        </div>  
    </form>
    <a href="/campgrounds/<%= c._id %>">back to campground</a>
        </div>
    </div>
    
    
  